force-app/main/default/MoveData_Donation_Account_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Address_Force_Overwrite</name>
        <label>Log: Address Force Overwrite</label>
        <locationX>446</locationX>
        <locationY>2150</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Existing_Values_On_Address_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Force Overwrite: {!ForceOverwriteAddress}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Address Force Overwrite (when any address value exists)</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Address_Has_Existing_Data_False</name>
        <label>Log: Address Has Existing Data</label>
        <locationX>754</locationX>
        <locationY>2450</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Eval_Street_Address</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Mailing Address - Has Existing Data</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Address_Has_Existing_Data_True</name>
        <label>Log: Address Has Existing Data</label>
        <locationX>446</locationX>
        <locationY>2450</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Overwrite_All_Address_Ignore_Address_When_Not_Empty</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Mailing Address - Has Existing Data</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Address_Quality_Index</name>
        <label>Log: Address Quality Index</label>
        <locationX>468</locationX>
        <locationY>1550</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Force_Overwrite_All_Address_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Skipping Address - Below Quality Index ({!MailingAddress_QualityIndex} &lt; {!Config_AccountAddressQualityIndex})</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Address Quality Index</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Billing_City_Address</name>
        <label>Set Billing City Address</label>
        <locationX>424</locationX>
        <locationY>3950</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Eval_State</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>BillingCity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringIgnoreMixedCase</name>
            <value>
                <elementReference>Config_AdvancedIgnoreMixedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringMode</name>
            <value>
                <elementReference>Config_ContactAddressCityCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>MailingAddress_City</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Billing_Country_Address</name>
        <label>Set Billing Country Address</label>
        <locationX>424</locationX>
        <locationY>5318</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Eval_Postcode</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>BillingCountry</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringIgnoreMixedCase</name>
            <value>
                <elementReference>Config_AdvancedIgnoreMixedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringMode</name>
            <value>
                <elementReference>Config_ContactAddressCountryCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>MailingAddress_Country</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Billing_State_Address</name>
        <label>Set Billing State Address</label>
        <locationX>424</locationX>
        <locationY>4634</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Eval_Country</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>BillingState</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringIgnoreMixedCase</name>
            <value>
                <elementReference>Config_AdvancedIgnoreMixedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringMode</name>
            <value>
                <elementReference>Config_ContactAddressStateCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>MailingAddress_State</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Billing_Street_Address</name>
        <label>Set Billing Street Address</label>
        <locationX>424</locationX>
        <locationY>3266</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Eval_City</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>BillingStreet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringIgnoreMixedCase</name>
            <value>
                <elementReference>Config_AdvancedIgnoreMixedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringMode</name>
            <value>
                <elementReference>Config_ContactAddressStreetCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>MailingAddress_Street</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Name</name>
        <label>Set Name</label>
        <locationX>556</locationX>
        <locationY>650</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Phone</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringIgnoreMixedCase</name>
            <value>
                <elementReference>Config_AdvancedIgnoreMixedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringMode</name>
            <value>
                <elementReference>Config_AccountNameCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>NameTrimmed</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Shipping_City_Address</name>
        <label>Set Shipping City Address</label>
        <locationX>1304</locationX>
        <locationY>3950</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Eval_State</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>ShippingCity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringIgnoreMixedCase</name>
            <value>
                <elementReference>Config_AdvancedIgnoreMixedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringMode</name>
            <value>
                <elementReference>Config_ContactAddressCityCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>MailingAddress_City</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Shipping_Country_Address</name>
        <label>Set Shipping Country Address</label>
        <locationX>1304</locationX>
        <locationY>5318</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Eval_Postcode</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>ShippingCountry</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringIgnoreMixedCase</name>
            <value>
                <elementReference>Config_AdvancedIgnoreMixedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringMode</name>
            <value>
                <elementReference>Config_ContactAddressCountryCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>MailingAddress_Country</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Shipping_State_Address</name>
        <label>Set Shipping State Address</label>
        <locationX>1304</locationX>
        <locationY>4634</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Eval_Country</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>ShippingState</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringIgnoreMixedCase</name>
            <value>
                <elementReference>Config_AdvancedIgnoreMixedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringMode</name>
            <value>
                <elementReference>Config_ContactAddressStateCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>MailingAddress_State</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Shipping_Street_Address</name>
        <label>Set Shipping Street Address</label>
        <locationX>1304</locationX>
        <locationY>3266</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Eval_City</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>ShippingStreet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringIgnoreMixedCase</name>
            <value>
                <elementReference>Config_AdvancedIgnoreMixedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringMode</name>
            <value>
                <elementReference>Config_ContactAddressStreetCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>MailingAddress_Street</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Account_Phone</name>
        <label>Set Account Phone</label>
        <locationX>556</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneTrimmed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_City_to_NULL</name>
        <label>Set Billing City to NULL</label>
        <locationX>160</locationX>
        <locationY>3950</locationY>
        <assignmentItems>
            <assignToReference>Record.BillingCity</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Eval_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Country_to_NULL</name>
        <label>Set Billing Country to NULL</label>
        <locationX>160</locationX>
        <locationY>5318</locationY>
        <assignmentItems>
            <assignToReference>Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Postcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Postcode</name>
        <label>Set Billing Postcode</label>
        <locationX>468</locationX>
        <locationY>5894</locationY>
        <assignmentItems>
            <assignToReference>Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_PostcodeTrimmed</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Billing_State_to_NULL</name>
        <label>Set Billing State to NULL</label>
        <locationX>160</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>Record.BillingState</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Street_to_NULL</name>
        <label>Set Billing Street to NULL</label>
        <locationX>160</locationX>
        <locationY>3266</locationY>
        <assignmentItems>
            <assignToReference>Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Eval_City</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email</name>
        <label>Set Email</label>
        <locationX>556</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>Record.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailTrimmed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Address_Quality_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ForceIgnoreAddress_to_True</name>
        <label>Set ForceIgnoreAddress to True</label>
        <locationX>314</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>ForceIgnoreAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Street_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ForceOverwriteAddress_to_True</name>
        <label>Set ForceOverwriteAddress to True</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>ForceOverwriteAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Address_Force_Overwrite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Type</name>
        <label>Set Record Type</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Organisation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_City_to_NULL</name>
        <label>Set Shipping City to NULL</label>
        <locationX>1040</locationX>
        <locationY>3950</locationY>
        <assignmentItems>
            <assignToReference>Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Eval_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Country_to_NULL</name>
        <label>Set Shipping Country to NULL</label>
        <locationX>1040</locationX>
        <locationY>5318</locationY>
        <assignmentItems>
            <assignToReference>Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Postcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Postcode</name>
        <label>Set Shipping Postcode</label>
        <locationX>1260</locationX>
        <locationY>5894</locationY>
        <assignmentItems>
            <assignToReference>Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_PostcodeTrimmed</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Shipping_State_to_NULL</name>
        <label>Set Shipping State to NULL</label>
        <locationX>1040</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>Record.ShippingState</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Street_to_NULL</name>
        <label>Set Shipping Street to NULL</label>
        <locationX>1040</locationX>
        <locationY>3266</locationY>
        <assignmentItems>
            <assignToReference>Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Eval_City</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Billing_City_Evaluate_Attribute</name>
        <label>Evaluate Attribute</label>
        <locationX>50</locationX>
        <locationY>3734</locationY>
        <defaultConnector>
            <targetReference>Is_Value_Null_City</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Billing_City_Ignore_When_Not_Empty</name>
            <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_State</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Billing_City_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_AccountAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_State</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Country_Evaluate_Attribute</name>
        <label>Evaluate Attribute</label>
        <locationX>50</locationX>
        <locationY>5102</locationY>
        <defaultConnector>
            <targetReference>Is_Value_Null_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Billing_Country_Ignore_When_Not_Empty</name>
            <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Postcode</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Billing_Country_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_AccountAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Postcode</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Postcode_Evaluate_Attribute</name>
        <label>Evaluate Attribute</label>
        <locationX>204</locationX>
        <locationY>5786</locationY>
        <defaultConnector>
            <targetReference>Set_Billing_Postcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Billing_Postcode_Ignore_When_Not_Empty</name>
            <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Billing_Postcode_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_AccountAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_State_Evaluate_Attribute</name>
        <label>Evaluate Attribute</label>
        <locationX>50</locationX>
        <locationY>4418</locationY>
        <defaultConnector>
            <targetReference>Is_Value_Null_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Billing_State_Ignore_When_Not_Empty</name>
            <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Country</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Billing_State_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_AccountAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Country</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_City</name>
        <label>Eval City</label>
        <locationX>600</locationX>
        <locationY>3626</locationY>
        <defaultConnector>
            <targetReference>Eval_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>City_Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_State</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>City_Mailing</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressMailing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_City_Evaluate_Attribute</targetReference>
            </connector>
            <label>Mailing</label>
        </rules>
        <rules>
            <name>City_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressMailing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_City_Evaluate_Attribute</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Country</name>
        <label>Eval Country</label>
        <locationX>600</locationX>
        <locationY>4994</locationY>
        <defaultConnector>
            <targetReference>Eval_Postcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Country_Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Postcode</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Country_Mailing</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressMailing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Country_Evaluate_Attribute</targetReference>
            </connector>
            <label>Mailing</label>
        </rules>
        <rules>
            <name>Country_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressMailing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_Country_Evaluate_Attribute</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Postcode</name>
        <label>Eval Postcode</label>
        <locationX>600</locationX>
        <locationY>5678</locationY>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Postcode_Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Postcode_Mailing</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressMailing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Postcode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Postcode_Evaluate_Attribute</targetReference>
            </connector>
            <label>Mailing</label>
        </rules>
        <rules>
            <name>Postcode_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressMailing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Postcode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_Postcode_Evaluate_Attribute</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_State</name>
        <label>Eval State</label>
        <locationX>600</locationX>
        <locationY>4310</locationY>
        <defaultConnector>
            <targetReference>Eval_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>State_Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Country</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>State_Mailing</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressMailing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_State_Evaluate_Attribute</targetReference>
            </connector>
            <label>Mailing</label>
        </rules>
        <rules>
            <name>State_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressMailing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_State_Evaluate_Attribute</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Street_Address</name>
        <label>Eval Street Address</label>
        <locationX>600</locationX>
        <locationY>2942</locationY>
        <defaultConnector>
            <targetReference>Eval_City</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Street_Address_Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_City</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Street_Address_Mailing</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressMailing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Attribute_Billing_Street</targetReference>
            </connector>
            <label>Mailing</label>
        </rules>
        <rules>
            <name>Street_Address_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressMailing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_Street_Evaluate_Attribute</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Address_Quality_Score</name>
        <label>Evaluate Address Quality Score</label>
        <locationX>600</locationX>
        <locationY>1442</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Force_Overwrite_All_Address_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing / Greater Than Quality Index</defaultConnectorLabel>
        <rules>
            <name>Log_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_AccountAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Address_Quality_Index</targetReference>
            </connector>
            <label>Below Quality Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Attribute_Billing_Street</name>
        <label>Evaluate Attribute</label>
        <locationX>50</locationX>
        <locationY>3050</locationY>
        <defaultConnector>
            <targetReference>Is_Value_Null_Street</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Billing_Street_Ignore_When_Not_Empty</name>
            <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_City</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Street_Address_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_AccountAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_City</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Email</name>
        <label>Evaluate Email</label>
        <locationX>600</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Address_Quality_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Email_Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountIgnoreEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Address_Quality_Score</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Existing_Values_On_Address_Fields</name>
        <label>Evaluate Existing Values On Address Fields</label>
        <locationX>600</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>Log_Address_Has_Existing_Data_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Existing_Values_Mailing</name>
            <conditionLogic>1 AND ((2 AND 3 AND 4) OR (5 AND 6 AND 7) OR (8 AND 9 AND 10) OR (11 AND 12 AND 13) OR (14 AND 15 AND 16))</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressMailing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingStreet</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCity</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingState</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingPostalCode</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Address_Has_Existing_Data_True</targetReference>
            </connector>
            <label>True (Mailing)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Force_Overwrite_All_Address_Fields</name>
        <label>Evaluate Force Overwrite All Address Fields</label>
        <locationX>600</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Existing_Values_On_Address_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Force_Overwrite_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressOverwriteAll</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Have_Any_Address_Values</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Name</name>
        <label>Evaluate Name</label>
        <locationX>600</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Name_Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountIgnoreName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Phone</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Name_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Name</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Overwrite_All_Address_Ignore_Address_When_Not_Empty</name>
        <label>Evaluate Overwrite All Address &amp; Ignore Address When Not Empty</label>
        <locationX>446</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>Eval_Street_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactAddressOverwriteAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressOverwriteAll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ForceIgnoreAddress_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Phone</name>
        <label>Evaluate Phone</label>
        <locationX>600</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Phone_Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountIgnorePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Email</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Phone_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Phone</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Record_Type</name>
        <label>Evaluate Record Type</label>
        <locationX>600</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Organisation_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>RecordType_Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountIgnoreRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Name</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>RecordType_Retain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Name</targetReference>
            </connector>
            <label>Retain</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Any_Address_Values</name>
        <label>Have Any Address Values</label>
        <locationX>446</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Log_Address_Force_Overwrite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Have_Any_Address_Values_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Postcode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ForceOverwriteAddress_to_True</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Value_Null_City</name>
        <label>Is Value Null?</label>
        <locationX>292</locationX>
        <locationY>3842</locationY>
        <defaultConnector>
            <targetReference>Set_Billing_City_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Null_City</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_City</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_City_to_NULL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Value_Null_City_Other</name>
        <label>Is Value Null?</label>
        <locationX>1172</locationX>
        <locationY>3842</locationY>
        <defaultConnector>
            <targetReference>Set_Shipping_City_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Null_City_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_City</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_City_to_NULL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Value_Null_Country</name>
        <label>Is Value Null?</label>
        <locationX>292</locationX>
        <locationY>5210</locationY>
        <defaultConnector>
            <targetReference>Set_Billing_Country_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Null_Country</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Country</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Country_to_NULL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Value_Null_Country_Other</name>
        <label>Is Value Null?</label>
        <locationX>1172</locationX>
        <locationY>5210</locationY>
        <defaultConnector>
            <targetReference>Set_Shipping_Country_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Null_Country_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Country</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_Country_to_NULL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Value_Null_State</name>
        <label>Is Value Null?</label>
        <locationX>292</locationX>
        <locationY>4526</locationY>
        <defaultConnector>
            <targetReference>Set_Billing_State_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Null_State</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_State</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_State_to_NULL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Value_Null_State_Other</name>
        <label>Is Value Null?</label>
        <locationX>1172</locationX>
        <locationY>4526</locationY>
        <defaultConnector>
            <targetReference>Set_Shipping_State_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Null_State_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_State</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_State_to_NULL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Value_Null_Street</name>
        <label>Is Value Null?</label>
        <locationX>292</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>Set_Billing_Street_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Null_Street</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Street</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Street_to_NULL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Value_Null_Street_Other</name>
        <label>Is Value Null?</label>
        <locationX>1172</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>Set_Shipping_Street_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Null_Street_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Street</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_Street_to_NULL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_City_Evaluate_Attribute</name>
        <label>Evaluate Attribute</label>
        <locationX>930</locationX>
        <locationY>3734</locationY>
        <defaultConnector>
            <targetReference>Is_Value_Null_City_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Shipping_City_Ignore_When_Not_Empty</name>
            <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.ShippingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.ShippingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_State</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Shipping_City_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_AccountAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_State</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Country_Evaluate_Attribute</name>
        <label>Evaluate Attribute</label>
        <locationX>930</locationX>
        <locationY>5102</locationY>
        <defaultConnector>
            <targetReference>Is_Value_Null_Country_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Shipping_Country_Ignore_When_Not_Empty</name>
            <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.ShippingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.ShippingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Postcode</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Shipping_Country_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_AccountAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Postcode</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Postcode_Evaluate_Attribute</name>
        <label>Evaluate Attribute</label>
        <locationX>996</locationX>
        <locationY>5786</locationY>
        <defaultConnector>
            <targetReference>Set_Shipping_Postcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Shipping_Postcode_Ignore_When_Not_Empty</name>
            <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.ShippingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.ShippingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Shipping_Postcode_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_AccountAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_State_Evaluate_Attribute</name>
        <label>Evaluate Attribute</label>
        <locationX>930</locationX>
        <locationY>4418</locationY>
        <defaultConnector>
            <targetReference>Is_Value_Null_State_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Shipping_State_Ignore_When_Not_Empty</name>
            <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.ShippingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.ShippingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Country</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Shipping_State_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_AccountAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Country</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Street_Evaluate_Attribute</name>
        <label>Evaluate Attribute</label>
        <locationX>930</locationX>
        <locationY>3050</locationY>
        <defaultConnector>
            <targetReference>Is_Value_Null_Street_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Shipping_Street_Ignore_When_Not_Empty</name>
            <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.ShippingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.ShippingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_AccountIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_City</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Shipping_Street_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_AccountAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_AccountAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_City</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailTrimmed</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Email}) == 0,
    NULL,
    IF(LEN({!Email}) &gt; 80,
        LEFT({!Email}, 80),
        {!Email}
    )
)</expression>
    </formulas>
    <formulas>
        <name>MailingAddress_CityTrimmed</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!MailingAddress_City}) == 0,
    NULL,
    IF(LEN({!MailingAddress_City}) &gt; 40,
        LEFT({!MailingAddress_City}, 40),
        {!MailingAddress_City}
    )
)</expression>
    </formulas>
    <formulas>
        <name>MailingAddress_CountryTrimmed</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!MailingAddress_Country}) == 0,
    NULL,
    IF(LEN({!MailingAddress_Country}) &gt; 80,
        LEFT({!MailingAddress_Country}, 80),
        {!MailingAddress_Country}
    )
)</expression>
    </formulas>
    <formulas>
        <name>MailingAddress_PostcodeTrimmed</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!MailingAddress_Postcode}) == 0,
    NULL,
    IF(LEN({!MailingAddress_Postcode}) &gt; 20,
        UPPER(LEFT({!MailingAddress_Postcode}, 20)),
        UPPER({!MailingAddress_Postcode})
    )
)</expression>
    </formulas>
    <formulas>
        <name>MailingAddress_StateTrimmed</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!MailingAddress_State}) == 0,
    NULL,
    IF(LEN({!MailingAddress_State}) &gt; 80,
        LEFT({!MailingAddress_State}, 80),
        {!MailingAddress_State}
    )
)</expression>
    </formulas>
    <formulas>
        <name>MailingAddress_StreetTrimmed</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!MailingAddress_Street}) == 0,
    NULL,
    IF(LEN({!MailingAddress_Street}) &gt; 255,
        LEFT({!MailingAddress_Street}, 255),
        {!MailingAddress_Street}
    )
)</expression>
    </formulas>
    <formulas>
        <name>NameTrimmed</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Name}) == 0,
    NULL,
    IF(LEN({!Name}) &gt; 255,
        LEFT({!Name}, 255),
        {!Name}
    )
)</expression>
    </formulas>
    <formulas>
        <name>PhoneTrimmed</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Phone}) == 0,
    NULL,
    IF(LEN({!Phone}) &gt; 40,
        LEFT({!Phone}, 40),
        {!Phone}
    )
)</expression>
    </formulas>
    <interviewLabel>[MoveData] General: Account - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] General: Account - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Organisation_Record_Type</name>
        <label>Get Organisation Record Type</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Config_AccountBusinessAccountRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Config_AccountAddressMailing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_AccountAddressOverwriteAll</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_AccountAddressQualityIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Config_AccountBusinessAccountRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Business_Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_AccountIgnoreAddressWhenNotEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_AccountIgnoreEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_AccountIgnoreName</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_AccountIgnorePhone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_AccountIgnoreRecordType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_AccountNameCase</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Config_AdvancedIgnoreMixedCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactAddressCityCase</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactAddressCountryCase</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactAddressStateCase</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactAddressStreetCase</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ForceIgnoreAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ForceOverwriteAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_QualityIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MailingAddress_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
